p {
    color: blue;
    width: 300px;
}

/**
esto es un comentario dentro de un documento de Css
*/
h1 {
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
   /*padding-top: 20px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right: 20px;*/
    padding:30px 15px 25px 20px;
    font-weight: bold;
    color: red;
}

section {
width: 30px;
border: 15px solid green;
padding: 50px;
margin: 20px;

}