html {
   font-size: 10px;
}



body {
    font-family:'Gill Sans';
    font-size:medium;
    font-style: italic;
    background-color: rgb(236, 9, 9);
    background-image: url(../imagen/wal.jpg);
    background-size:contain
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center top;
    
    
}
h3 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: oblique;
   font-size: xx-large;
   background-image: url(../imagen/d4046ef39d8db99af4d107adc8d65165.jpg)
   background-size: auto;
}


h2 {
   font-family: tahoma;
   font-size: 3rem;
   font-weight:bolder;
   color: rgb(252, 247, 245);
   background-image: url("../imagen/d4046ef39d8db99af4d107adc8d65165.jpg");
   background-size: auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
   
}

p{
   font-size: 1.5rem;
   line-height: 1.6;
   text-align: justify;


}
 p{
   font-size: xx-large;
    color: rgb(241, 232, 232);
    font-weight: 400;
 }

 .special-p{
    color: rgb(235, 226, 226);
    font-style: oblique; }
 