html {
    font-size: 10px;
}

h3 {
    background-color: red;

 display: inline-block;

}
h4 {
    background-color: rgb(20, 20, 128);
   display: inline-block;
}

span {
    background-color: rgb(165, 91, 42);
    display: block;
}