#image{
    width: 400px;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
    
    
}
#image img{
    width: 400px;
    height: 100%;
    transition: 2s;
   
}
#image img:hover{
    transform: translatex(-30%);
    filter:brightness(80%)
    #profile-pic {
        filter: blur(5px);
      }
      #profile-pic {
        border-radius: 50%;
      }
