

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #eee7e7;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(252, 250, 250);
  transition: width 2s;
}

.html {width: 60%; background-color: #fa0808;}

.loading {
  animation: progress-bar 2s ease-out forwards;
}

@keyframes progress-bar {
  0% { width: 0; }
  100% { width: 60%; }
}

.css {width: 60%; background-color: #6a117c;}

.loading {
  animation: progress-bar 2s ease-out forwards;
}

@keyframes progress-bar {
  0% { width: 0; }
  100% { width: 60%; }
}
.javascript {width: 60%; background-color: #6d7972;}

.loading {
  animation: progress-bar 2s ease-out forwards;
}

@keyframes progress-bar {
  0% { width: 0; }
  100% { width: 60%; }
}


.php {width: 60%; background-color: #356348;}

.loading {
  animation: progress-bar 2s ease-out forwards;
}

@keyframes progress-bar {
  0% { width: 0; }
  100% { width: 60%; }
}

.progress-container {
  margin-bottom: 20px;
}
.progress-container p {
  margin-bottom: 5px;
}
.progress-bar {
  height: 20px;
  background-color: #ddd;
  width: 0%;
  transition: width 1s ease-in-out;
}


#progressBar {
  width: 100%;
  height: 30px;
  background-color: #eee;
}

#progressBar::-webkit-progress-bar {
  background-color: #eee;
}

#progressBar::-webkit-progress-value {
  background-color: #4CAF50;
}

#progressBar::-moz-progress-bar {
  background-color: #4CAF50;
}

