*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image:url(images/thundeer.jpg);
	background-size: cover;
    background-attachment: fixed;
}
.head{
    width: 200px;
    text-align: center;
    font-family:'Times New Roman', Times, serif  ;
    margin: 5px auto;
}
.container{
    height: 406px;
    width: 350px;
    margin: 40px auto;
    background-color: #f1f1f7;
    border: 3px inset #f70606;
    border-radius: 17px;
    padding: 40px 30px;
}
.screen{
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 16px 10px;
    border: 1px solid #fa0404;
    border-radius: 11px;
    background-color: rgb(142, 185, 214);
}
#numdisplay{    
	height: 42px;
    text-align: right;
    font: normal normal 43px Arial;
}
#numdisplay span{
	opacity: 1.5;
}
.keypad {
    width: 290px;
    height: 206px;
    border: 1px dotted #0c0401;
    border-radius: 14px;
    margin: 14px;
    padding: 12px;
}
input{ 
	height: 47px;
    width: 65px;
    margin: 2px;
    padding: 4px;
    border-radius: 10px;
	font: bold normal 30px Verdana;
}
input:hover{
	background-color: rgb(253, 11, 11);
}

.specialbuttons{
    height: 50px;
    width: 300px;
    margin: 0px auto;
}
.specialbuttons input{
    width: 143px;
    font-size: 20px;
}


footer{
    height: 40px;
    text-align: center;
    font: bold normal 30px Verdana;
    background-color: black;
    color: rgb(255, 0, 0);
}
