body {
    background: url(images/jordi.koalitic\ 2.jpg);
    background-size: 100%;
    font-family: 'Libre Baskerville', serif;
     }
    
.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
        color: rgb(248, 249, 250);
        text-decoration:none;
        padding: 2rem;
        display: flex;
        transition: all.5s;
    }
.icon-linkedin {
    background:#1c12a7;
}
.icon-instagram {
    background:#f81e0e;
}
.icon-github {
    background:#000c02;}

.icon-whatsapp {
    background:#16b631;
  }
  

.icon:first-child {
    border-radius: 1rem 0 0 0;
}
.icon:last-child {
    border-radius: 0 0 0 1rem;
}
.icon:hover {
padding-right: 3rem;
border-radius: 1rem 0 0 1rem;
box-shadow: 0 0 .5rem rgba(0, 0, 0, 0,42);
} 
body .icon{
    font-size: 20px;
    margin: 0 18px;
    align-self: center;
}
.progress-bar-container {
    height: 10px;
    background-color: #EEE;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 0%;
    background-color: #007BFF;
    transition: width 0.5s ease;
  }
 