.progress-bar-container {
  background-color: #DDD;
  border-radius: 5px;
  margin: 10px;
  width: 100%;

}
.progress-bar {
  background-color: #4CAF50;
  border-radius: 5px;
  height: 20px;
  width: 0; 
 }
 /*anima la barra de progreso */
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: calc(var(--value) * 1%);
  }
}
.progress-bar [data-value] {
  animation: progress 1s linear forwards;
  --value: 0;
}
/* Agrega el valor de la barra de progreso al atributo --value */
.progress-bar[data-value="70"]::before {
  content: "70%";
  position: absolute;
  right: 0;
  top: -25px;
}
