

  /* Estilo del encabezado */
#header {
    background-color: #1A2B42;
    color: white;
    padding: 20px;
  }
  #body i {
    font-size: 40px;
    margin: 0 18px;
    align-self:auto;
  }
  
button {
border: 0;
background-image: linear-gradient(150deg,
 #9500ff,
 #09f,
 #00DDFF);
border-radius: 6px;
color: #fff;
display: flex;
font-size: 18px;
padding: 4px;
cursor: pointer;
transition: 3s;
}
.icon-fa-solid fa-car-side {
  background: rgb(238, 237, 237);

}
button span{
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: .3s;
}
button:hover span{
  background-color: none;
}

 button:active {
  transform: scale(0.9);
}
  
  
  /* Estilo de las secciones */
  .section {
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 30px;
  }
  
  /* Estilo de la sección de experiencia */
  #experience {
    background-color: #4D648D;
    color: white;

  }
  
  /* Estilo de la sección de educación */
  #education {
    background-color: #7FABD2;
    color: #333;
  }
  
  /* Estilo de la sección de habilidades */
  #skills {
    background-color: #B4D7ED;
    color: #333;
  }
  
  
  /* Estilo de la sección de habilidades */
  #idiomas {
    background-color: #0b74eb;
    color: #333;
  }
  #herramientas {
    background-color: #0077B5;
    color: #7FABD2;
  }
  #habilidades    
    {
    background-color: #00DDFF;
  }
  /* Estilo del pie de página */
  #footer {
    background-color: #08298f;
    color: #333;
    padding: 20px;
    text-align: center;
  }
  .fa-linkedin {
    color: #0077B5;
  }
  
  .fa-github {
    color: #333;
  }
  
  .fa-instagram {
    color: #C13584;
  }
  